@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// vendor styles
@import "vendor/aos";
@import "vendor/slick-carousel";
@import "vendor/index-menu";

// mixins
@import 'mixins/container-border';
@import 'mixins/flex';
@import 'mixins/avatar';
@import 'mixins/helpers';
@import 'mixins/pseudo';
@import 'mixins/push-center';
@import 'mixins/sidelines';
@import 'mixins/zindex';

// global styles
@import 'global/app-dashboard';
@import 'global/layout';

// custom components
@import 'components/navigation/main-nav';

@import 'components/footer';


$hero-full-screen-bg: url('../../assets/img/bgHero.jpg') center center no-repeat;
$hero-full-screen-bg-size: cover;
$hero-full-screen-text-color: $white;

.hero-full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;

  .middle-content-section {
    text-align: center;
    color: $hero-full-screen-text-color;
  }

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $hero-full-screen-text-color;
    }
  }

  // optional demo styles
  .top-bar {
    background: transparent;

    .menu {
      background: transparent;
    }

    .menu-text {
      color: $hero-full-screen-text-color;
    }

    .menu li {
      display: flex;
      align-items: center;
    }

    .menu a {
      color: $hero-full-screen-text-color;
      font-weight: bold;
    }
  }
}

// Footer stuff
 #engadget-footer-sitemap-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: rem-calc(0);
  background-color: $black;
  
    #engadget-footer-sitemap { 
      @include grid-row();
      color:$light-gray;
      padding: rem-calc(60) 0;
      a {
        color:$light-gray !important;
        }
	  .links {
  	  @include breakpoint(small) {
        @include grid-layout(2, '.link-column', $grid-column-gutter);
        }
      @include breakpoint(large) {
        @include grid-layout(4, '.link-column', $grid-column-gutter);
        }

      .link-column:not(:last-child) {
      border-right:1px solid $light-gray
      }
	  }	  
  }
}
#engadget-footer-social-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: rem-calc(0);
  background-color: $dark-gray;
  
  #engadget-footer-social {
    @include grid-row();
	  color:$light-gray;
	  padding: rem-calc(60) 0;
	  a {
  	  color:$light-gray !important;
  	  }
    .footer-left {
		  @include breakpoint(small) {
		  	@include grid-column(12);
		  }
      @include breakpoint(medium) { 
        @include grid-column(6);
		  }
		  @include breakpoint(large) { 
        @include grid-column(5);
		  }
      .input-group-field {
  	  	background: $white
      }
    }

  	.footer-right {
    	text-align: right;
      @include breakpoint(small) {
        @include grid-column(12); 
      }
      @include breakpoint(medium) {
        @include grid-column(6);
      }
    }
    .fa {
      padding: 0 0 0 0.6rem;
      }
    h2 {
      color: $white;
      }
    p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
}

#engadget-footer-contact-details-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: rem-calc(0);
  background-color: $white;
  
  #engadget-footer-contact-details { 
    @include grid-row();
	  color:$dark-gray;
	  padding: rem-calc(20) 0;
	  a {
  	  color:$dark-gray !important;
  	  }
	  
	  .footer-left {
		@include breakpoint(small) {
		@include grid-column(12); 
		li {
  		display: block;
  		}
		text-align: center;
		}
		@include breakpoint(medium) {
		@include grid-column(6); 
		text-align: left;
		}
		 @include breakpoint(large) { 
		 @include grid-column(8);
		 ul {
  		 margin-bottom: 0;
  		 }
		li {
  		display: inline-block
  		}	 
		}
		font-size: 0.9rem;
		.fa {
  		padding: 0 0.4rem;
  		}
	}
	.footer-right {
		@include breakpoint(small) {
		@include hide-for-only(small);
		}
		@include breakpoint(medium) {
		@include grid-column(6); 
		}
		 @include breakpoint(large) {
		 @include grid-column(4);
		 text-align: right;
		 ul {padding-top: 1.6rem;}
		
		 
		}
		font-size: 0.9rem;
		.fa {padding: 0 0.4rem;}
    }
  }
}


fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


$topbar-responsive-bg: #2c3840;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }

  .menu {
    background: $topbar-responsive-bg;

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $white;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: $white;
      border-color: $white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
        margin: 0.875rem 0;
      }
    }
  }

   @media screen and (max-width: 39.9375em) {
     padding: 0.75rem;

    .top-bar-title {
      position: relative;
      width: 100%;

      span {
        position: absolute;
        right: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }
  }
}

// Pull Quote
$pull-quote-maxwidth: 50%;
$pull-quote-color: $primary-color;
$pull-quote-offset-large: -25%;
$pull-quote-offset-medium: -15%;
$pull-quote-fontsize-medium-up: 1.875rem;
$pull-quote-fontsize-small: 1.125rem;
$pull-quote-gradient: true;

.pull-quote {
  font-weight: 400;
  letter-spacing: 1.5px;
  font-style: normal;
  font-size: $pull-quote-fontsize-small;
  max-width: $pull-quote-maxwidth;
  line-height: 1.25em;
  text-transform: uppercase;
  color: $pull-quote-color;
  float: right;
  margin: 10px 0 0 20px;
  @if $pull-quote-gradient == true {
    background: linear-gradient($secondary-color, $pull-quote-color);
  } @else if $pull-quote-gradient == false {
    background: $pull-quote-color; // sets text color
  }
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:before {
    content: '';
  }

  &:after {
    content: '';
  }

  @include breakpoint(medium) {
    font-size: $pull-quote-fontsize-medium-up;
    max-width: calc(#{$pull-quote-maxwidth} - 5%);
    margin-right: $pull-quote-offset-medium;
  }

  @include breakpoint(large) {
    max-width: calc(#{$pull-quote-maxwidth} + 5%);
    margin-right: $pull-quote-offset-large;
  }
}


//stickyshrinknav

$sticky-shrinknav-menu-height: rem-calc(60);
$sticky-shrinknav-hero-height: 300px;


body {
  padding-top: $sticky-shrinknav-hero-height + 30px;
}

.sticky-shrinknav-menu {
  @include horizontal-center;
  bottom: 0;
  height: $sticky-shrinknav-menu-height;
  line-height: $sticky-shrinknav-menu-height;
  width: 100%;
  background-color: rgba($primary-color, 0.1);
  transition: all 0.5s ease;

  li {
    border-radius: 2px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 0 1px $white;
    }
  }

  a {
    color: $white;
  }
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  transform: translateY(-$sticky-shrinknav-menu-height/2);
  margin-bottom: 0;
  color: $white;
}

.sticky-shrinknav-header {
  width: 100%;
  height: $sticky-shrinknav-hero-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lighten($primary-color, 10%);
background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;


  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
  padding-top: 130px;

  .sticky-shrinknav-header{
    height: $sticky-shrinknav-menu-height;
    background-color: rgba($primary-color, 0.9);


    .sticky-shrinknav-header-title{
      transform: scale(0);
      transition: all 0.3s ease;
    }
  }
}


$caption-font-size: .9rem;

.flexible-article-image-full {
  .thumbnail {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .caption {
    font-size: $caption-font-size;
  }
}

.flexible-article-image-left {
  float: left;
  margin: 1rem 1.5rem 0 0;
  max-width: rem-calc(200);

  .caption {
    font-size: $caption-font-size;
  }

  @include breakpoint (small only) {
    float: none;
    max-width: 100%;
    margin: 0;

    .thumbnail {
      width:100%;

      img {
        width:100%;
      }
    }
  }
}

.flexible-article-image-right {
  float: right;
  margin: 0 0 1rem 1.5rem;
  max-width: rem-calc(200);

  .caption {
    font-size: $caption-font-size;
  }

  @include breakpoint (small only) {
    float: none;
    max-width: 100%;
    margin: 0;

    .thumbnail {
      width:100%;

      img {
        width:100%;
      }
    }
  }
}


